body {
    background-image: url(../images/dirt.jpg);
    background-repeat: repeat-x repeat-y;
    background-color: #9b7653;
    color: white;
}

h1 {
    font-family: 'Ruslan Display', cursive;
    font-size: 3em;
}

.target-number {
    font-family: 'Ruslan Display', cursive;
    font-size: 2em;
}

.score,
.wins,
.losses {
    font-family: 'Ruslan Display', cursive;
    font-size: 1.25em;
}

.instructions {
    border: 1px #fff solid;
}

p {
    margin-bottom: 0.5rem;
}